body{
   
    background-image: url('../pictures/ospedale.jpg');
    block-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    
}
.set-green {
    background-color: lightgreen;
}