.form-control {
    margin-bottom: 20px;
}
#legend-register {
    margin-bottom: 30px;
    margin-top: 50px;
    font-family: 'Merriweather', serif;
}
.lateral {
    background-color: lightgreen;
}

.central {
    padding: 10px;
    background-color: white;
}
.form-row {
    font-family: 'Merriweather', serif;
}
.form-group {
    font-family: 'Merriweather', serif;
}
