body{
    background-color: lightgreen;

   
}
#liste{
    background-image: url(../pictures/ospedale.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-weight: bolder;
margin-left: 50px;

}
#l1:hover{
    color: lightgreen;
    font-weight: 900;
    font-size: xx-large ;
 

}

