body {
   
    background-image: url('../pictures/ospedale.jpg');
    block-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    

}

.text {
	 block-size: 30%;
    padding: 10px;
    background-color: white;
    font-family: 'Merriweather', serif;
    
}

