
.log{
    margin-left: 500px;
    margin-top: 300px;
}
#titolo{
    margin-left: 200px;
    margin-bottom: 10px;
}
#home{
    position: right bottom;
}
#form-col {
    margin-top: 100px;
    padding: 50px;
    background-color: white;
    margin-bottom: 80px;
}
