body {
	background-image: url('../pictures/ospedale.jpg');
	block-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	font-weight: bolder;
	margin-left: 50px;
	font-family: 'Merriweather', serif;
}

footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #006f6f;
	margin-top: 20px;
}

.set-green {
	background-color: lightgreen;
}

.set-grey {
	background-color: lightgrey;
}